
.idea/.name

.idea/misc.xml

.idea/modules.xml

.idea/Tetris.iml

.idea/vcs.xml

.idea/workspace.xml

.idea/jsLibraryMappings.xml

.idea/workspace.xml

.idea/jsLibraryMappings.xml

.idea/workspace.xml

.DS_Store
